* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif, Times, serif;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: center;
}

h1 {
    color: steelblue;
    font-size: 26px;
    text-align: center;
    padding-bottom: 3px;
    border-bottom: 1px solid steelblue;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    float: right;
    width: 150px;
    height: 250px;
    border: 1px solid steelblue;
    padding: 2px;
    margin-top: 20px;
    margin-right: 15px;
    box-shadow: 0px 0px 5px #80808050;
}

main p {
    height: 300px;
    width: 320px;
    padding: 20px;
}

p {
    padding: 0;
}

aside {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 20em;
    text-align: center;
    position: relative;
    height: 520px;
}

aside h2 {
    position: absolute;
    top: 45px;
    left: 108px;
}

aside img {
    width: 250px;
    height: 300px;
    margin-top: 15px;
    margin-bottom: 30px;
}

footer {
    margin-top: 10px;
    border-top: 1px solid #000000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #00000033;
    background-color: #eee;
    color: #333;
}