* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif, Times, serif;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
    font-size: 1.2em;
}

h1 {
    color: steelblue;
    font-size: 28px;
    padding-left: 18px;
    padding-top: 15px;
}

main img {
    float: right;
    width: 150px;
    height: 250px;
    border: 1px solid steelblue;
    padding: 2px;
    margin-top: 20px;
    box-shadow: 0px 0px 5px #80808050;
}

main {
    max-width: 500px;
    padding: 0px;
}

main p {
    height: 300px;
    width: 320px;
    padding: 20px;
}

p {
    padding: 0;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 23px;
    left: 108px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 1px solid #000000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #00000033;
    background-color: #eee;
    color: #333;
}