nav {
    background-color: steelblue;
    padding: 10px;
}

nav > a {
    color: white;
    display: block;
    padding: 20px;
    font-size: 1.2em;
}

h1 {
    color: steelblue;
}

main > img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0px 0px 5px #80808050;
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

aside {
    width: 20em;
    margin: 10px 0px 20px 5px;
    border: 1px solid #00000033;
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside > img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 1px solid #000000;
    text-align: center;
}